*{
    font-family: Hack Nerd Font;
    font-size: 13px;
    min-height: 0;
    color: white;
}

window#waybar {
    background: rgba(20, 37, 53, 0.7);
    border: 2px solid rgba(212, 120, 137, 1);
    border-bottom: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#workspaces{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 8px;
}

#workspaces button{
    border-radius: 2px;
    margin-right: 8px;
    padding: 1px 10px;
    font-weight: bolder;
    background-color: #191724;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 20px;
    box-shadow: rgba(212, 120, 137, 1) 0px 0px 0px 2px;
    background: #142535;
}
#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
	padding: 0 10px;
}
#cava {
    color: #D47889;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-family: "bargraph";
    font-size: 14px;
}

